.admin {
  width: 100%;
  background: rgba(255, 254, 254, 0.5);
  padding-top: 20px;
  padding-bottom: 20px;
  @include breakpoints-down(small) {
    flex-direction: column;
  }
  .nav {
    flex: 0.25;
    @include breakpoints-down(small) {
      width: 100%;
      text-align: center;
    }
    h4 {
      margin-bottom: 20px;
      color: red;
    }
    ul {
      li {
        padding: 15px 0;
        cursor: pointer;
        &:hover {
          background: rgba(192, 192, 192, 0.24);
          a {
            color: #000;
          }
        }
        i {
          color: rgb(65, 65, 65);
          margin-left: 20px;
          @include breakpoints-down(medium) {
            text-align: center;
          }
        }
        a {
          margin-left: 20px;
          color: rgb(65, 65, 65);
          // @include breakpoints-down(small){
          //     display: none;
          // }
        }
      }
    }
  }
  .content {
    flex: 0.65;
    @include breakpoints-down(small) {
      width: 100%;
      text-align: center;
    }
    h3 {
      margin-bottom: 20px;
    }
    form {
      width: 100%;
      .inputBox {
        width: 100%;
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        label {
          display: block;
          width: 110px;
          min-width: 110px;
          font-size: $fs-sm;
        }
        input , textarea{
          padding: 12px 25px;
          outline: none;
          border: $cl-gray;
          width: 100%;
        }
        input[type="radio"] {
          flex: 0.1;
          cursor: pointer;
      }
      }
      button {
        margin-top: 20px;
        display: block;
        cursor: pointer;
        padding: 0.8rem 1.2rem;
        font-size: $fs-sm;
        width: 40%;
        margin: 0 auto;
        text-align: center;
        background: #5a88ca;
        color: #fff;
        outline: none;
        border: 0;
        border-radius: 25px;
      }
    }
    //Quan ly san  pham
    table {
      width: 100%;
      input[type="checkbox"] {
        height: 15px;
        width: 15px;
        cursor: pointer;
      }
      thead {
        border-bottom: 2px solid #000;
      }
      tbody {
        tr {
          td {
            text-align: center;
            padding: 10px;
            .imgBox {
              position: relative;
              height: 100px;
              width: 100px;
              margin: 0 auto;
              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
            }

            .iconBox {
              display: flex;
              justify-content: center;
              align-items: center;
              i {
                cursor: pointer;
                color: red;
                font-size: $fs-sm;
                &.check {
                  color: rgb(233, 233, 61);
                  margin-left: 10px;
                }
              }
            }
          }
        }
      }
    }
    .nav-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0;
        h3{
            margin: 0;
        }
        .searchBox{
            width: 50%;
            display: flex;
            align-items: center;
            button{
                padding: 10px;
                width: 100px;
                margin: 0;
                margin-left: 10px;
            }
        }
        input{
            display: block;
            height: 30px;
            width: 40%;
        }
      a {
        font-size: 1.125rem;
        display: inline-block;
        padding: 5px 10px;
        font-weight: bold;
        background: green;
        border-radius: 20px;
        color: #fff;
        &.delete{
            background-color: red;
        }
        i{
            color: #fff;
            margin-right: 10px;
           
        }
      }
    }
  }
}
